<div class="mn">
    <h2>Make Your Order</h2>
    <input type="text" placeholder="pay for">
    <input type="text" placeholder="$0"><br><br>
    <!-- <fieldset id="fd">
        <legend>Amount</legend>
    <input type="text" placeholder="$0">
    </fieldset><br> -->
    <textarea name="text" rows="5" cols="40">Notes</textarea><br>Option
    <p>ClientInfo</p>
    <input type="text" placeholder="Email"><br><br>
    <input type="text" placeholder="FirstName">
    <input type="text" placeholder="LastName"><br><br>
    <input type="date" value="paymentdate" placeholder="payment"><BR><br>
    <button>Order Now</button>
</div>
    <!-- <button mat-button><a  routerLink="/payment">Pay Now</a></button> -->
