<div class="margin">
    <nav>
        <label class="log"><mat-icon>eco</mat-icon>Ordering System</label>
        <ul>
            <li><a class="active" routerLink="login">Login</a></li>
            <span><li><a class="active" routerLink="home">Home</a></li></span>
            <li><a class="active" routerLink="about">About Us</a></li>
            <li><a class="active" routerLink="orders">Order</a></li>
            <li><a class="active" routerLink="service"> Service</a></li>
        </ul>
    </nav>
    
  </div>
