
<div class="main" >
    <div>

    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Bina's Cafe</mat-card-title>
          <mat-card-subtitle>Restaurant</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    <div class="container">
        <mat-card class="about">
            <mat-card-title>Bina's Restaurant Offered You 20% Discout Off For Those Who Order<br><br>
                More Than 10 food
            </mat-card-title><br>
            <mat-card-title><mat-icon>home</mat-icon> : NearBy State University Of Zanzibar <br><br>
               <mat-icon>message</mat-icon> Call & sms : call number 0657363746<br><br>
               <mat-icon>callin</mat-icon> Wattsap Call Number:0772703670<br><br>
                <mat-icon>copyright</mat-icon>Instragram Account: bina08<br><br>
            </mat-card-title>
        </mat-card><br>
      
        </div>
          <div class="em">
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Welcome Dear Customer's</mat-card-title>
            </mat-card-header>
          </mat-card>
        </div>