<div class="main">
    <div id="cd">

    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Bina's Cafe</mat-card-title>
          <mat-card-subtitle>Restaurant</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
    <mat-card><div class="fd">
        
        <ul class="u">
            <h1>Our Service To Our Customer's</h1>
            <li>Food Lunch With Delivery</li>
            <li>BreakFast With Delivery</li>
            <li>Drinks With Delivery</li>
        </ul>
        <p class="ur">
        Bonus:<br>
        Discount<br>
        Weekly Bonus
        </p>
        </div>
        <p></p>
        <mat-card-title>Our Works Days:<div class="hour">Hours</div>
            <hr>Monday <div class="hour">9:00AM 12:00PM.</div>
            <hr>Tuesday <div class="hour">9:00AM 12:00PM.</div>
            <hr>Wednesday <div class="hour">9:00AM 12:00PM.</div>
            <hr>Thursday <div class="hour">9:00AM 12:00PM.</div>
            <hr>Friday <div class="hour">9:00AM 12:00PM.</div>
            <hr>Saturday <div class="hour">10:00AM 12:00PM.</div>
            <hr>Sunday <div class="hour">10:00AM 12:00PM.</div><hr>
        </mat-card-title>
        
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
      
</div>
