<div class="main">
    <div>
    
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Bina's Cafe <mat-icon>search</mat-icon></mat-card-title>
          <mat-card-subtitle>Restaurant</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image class="im" src="assets/image/bpp.jpg" alt="Photo of a Shiba Inu">
       
      </mat-card>
    </div>
     <div class="pb">
    <h2>Our Menus</h2>
    </div>
    <div class="pbs">
        
        <!-- <div class="pi"> -->
            <div>
            <mat-card class="m1">
                <img class="r" src="assets/image/dd.jpg">
                <mat-card-content>
                  <p>Drinks</p>
                  <hr>
                    <p>
                      Any Flavor you like Is Available.Our drink's so sweet<br>
                      Order Now For Enjoyment. 
                    </p>
                  </mat-card-content>
                  <mat-card-actions>
                    <button mat-button>LIKE</button>
                  </mat-card-actions>
            </mat-card></div>
            <div>
                <mat-card class="m1">
                    <img class="r" src="assets/image/sg.jpg">
                    <mat-card-content>
                      <p>BreakFast Food</p>
                      <hr>
                        <p>
                          For Sweet & Good Breakfast. We Order for Family.<br>
                          Office Meeting.
                        </p>
                      </mat-card-content>
                      <mat-card-actions>
                        <button mat-button>LIKE</button>
                      </mat-card-actions>
                </mat-card></div>
        
                <div>
                    <mat-card class="m1">
                        <img class="r" src="assets/image/ri.jpg">
                        <mat-card-content>
                          <p>Lunch Food</p>
                      <hr>
                            <p>
                              Make Your Order For Sweet & Delicious Lunch Food For 
                              FamilyFriend. Wedding Lunch E.t.c
                            </p>
                          </mat-card-content>
                          <mat-card-actions>
                            <button mat-button>LIKE</button>
                          </mat-card-actions>
                    </mat-card></div>
                    <div>
                        <mat-card class="m1">
                            <img class="r" src="assets/image/see.jpg">
                            <mat-card-content>
                              <p>Sea Food</p>
                      <hr>
                        <p>
                                <p>
                                  Order Now for Better Testing and Discout Prices
                                  With Delicious Flavor & Good Bonus Gift.
                                </p>
                              </mat-card-content>
                              <mat-card-actions>
                                <button mat-button>LIKE</button>
                              </mat-card-actions>
                        </mat-card></div>
        
    </div>
    
    </div>
    
    